h2{
  color:  #007bff;
}

.habit-details{
  padding: 20px;
  text-align: center;
}

.habit-graph{
  text-align: center;
}

.habit-details, .habit-graph{
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1)

}

