#toast{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 1em 1.5em;
  border-radius: 8px;
  background: whitesmoke;
  color: #007bff;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;

}

#toast.show {
  opacity: 1;
  transform: translateY(0);

}

#toast.hide{
  display: none;
}

