.actual_value-page{
  text-align: center;
  
}

.actual_value-formtext{
  color: #007bff;
  font-size: 30px;
  font-weight: bold;
}

.actual_value-form{
width: 50px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-top: 70px;

}

.actual-submit-btn{
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  width: 45px;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
}

#actualsubmitbtn:hover{
  color: blue;
}

